
        html{
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            overflow: auto;
        }
        body{
            font-family: "Noto Sans CJK KR Medium",sans-serif;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }
        #wrap{
            width: 1000px;
            margin: auto;
        }
        #header{
            width: 1000px;
            height: 250px;
        }
        #headerArea{
            margin: auto;
            position: relative;
            width: 1000px;
            height: 200px;
        }
        #loginBeforeArea{
            position: absolute;
            right: 0px;
        }

        .logo{
            position: absolute;
            width: 150px;
            height: 150px;
        }
        .header{
            top: 25px;
        }

        .btn{
            cursor: pointer;
            font-family: "Noto Sans CJK KR Medium",sans-serif;
            position: absolute;
            width: 80px;
            height: 30px;
            outline: none;
            background-color: #fdd734;
            border: none;
            border-radius:3px;
            top: 25px;
        }
        .login{
            right: 100px;
        }
        .join{
            right: 0px;
        }
        .header_menu_back{
            z-index: -9;
            position: absolute;
            left: 0;
            top: 200px;
            width: 100%;
            height: 50px;
            background-color: #0e47a1;
        }
        .header_menu{
            width: 1000px;
            height: 50px;
            position: absolute;
            top: 200px;
            text-align: center;
            background-color: #0e47a1;
        }
        .header_menu li{
            transition: .2s ease;
            float: left;
            width: 200px;
            height: 50px;
        }
        .on{
            cursor: pointer;
            width: 200px;
            height: 50px;
            background-color: #fdd734;
        }

        .header_menu li a{
            cursor: pointer;
            background-color: #0e47a1;
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 25px;
            color: white;
            text-decoration: none;
            display: inline-block;
        }
        #loginAfterBtnArea{
            position: absolute;
            right: 0px;
            width: 400px;
            height: 200px;
            /*background: red;*/
        }
        #loginAfterBtnArea i {
            font-size: 30px;
            position: absolute;
            color: #fdd734;
            cursor: pointer;
        }
        #headerProfile{
            position: absolute;
            top: 5px;
            right: 25px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        #creatorHome{right: 180px; top: 20px;}
        #newsPide{right: 130px; top: 20px;}
        #bell{right: 90px; top: 20px;}
        #loginAfterBtnArea #dropDownBtn{color: #0e47a1; right: 0px; top: 20px;}

        #dropDownBox{
            display: none;
            width: 140px;
            height: 140px;
            background: #d2d2d2;
            position: absolute;
            right: 0px;
            top: 58px;
        }
        #dropDownBox ul{
            width: 140px;

        }
        #dropDownBox ul li{
            text-align: center;
            line-height: 35px;
            width: 140px;
            height: 35px;
        }
        #dropDownBox ul li a{
            display: inline-block;
            width: 140px;
            height: 35px;
            transition: .2s ease;
            cursor: pointer;
            text-decoration: none;
        }
        #dropDownBox ul li a:hover{
            color: #0e47a1;
            background: #fff;
        }
        #dropDownBox ul li a:active{
            color: #0e47a1;
            background: #fdd734;
        }
        #dropDownBox:after{
            content: "";
            width: 0px;
            height: 0px;
            border-bottom:10px solid #d2d2d2;
            border-right:10px solid transparent;
            border-left:10px solid transparent;
            position: absolute;
            top:-10px;
            right: 0px;
        }
        #contents{
            min-height: 1000px;
            width: 1000px;
        }
        #footer{
            width: 1000px;
            height: 150px;
            /*background: blueviolet;*/
            clear: both;
            position: relative;
        }

        #footerArea{
            text-align: center;
            width: 500px;
            /*background: blue;*/
            padding-top: 45px;
            margin:auto;
        }
        #footer img{
            right: 0px;
            top: 0px;
        }

        
        /* login id pwd */
        
        
        body {
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        #loginBodyMask {
            position: absolute;
            background-color: #000;
            left: 0;
            top: 0;
            display: none;
            z-index: 5;
        }

        .login_background_window {
            position: absolute;
            left: 100px;
            top: 100px;
            display: none;
            z-index: 7;
        }

        #loginWrap {
            width: 392px;
            height: 392px;
            position: fixed;
            top:50%;
            left:50%;
            margin: -196px 0 0 -196px;
            background:  #FFFFFF;
            border:4px solid #0e47a1;
            z-index: 10;

        }

        .img_logo {
            width:150px;
            height:150px;
            position: relative;
            top:30px;
            left:121px;

        }

        .inp_id {
            width: 200px;
            height: 20px;
            position: relative;
            left:-24px;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .inp_pwd {
            width: 200px;
            height: 20px;
            position: relative;
            left:-24px;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .content {
            position: relative;
            top:50px;
            left:113px;
            margin-right: 140px;
            line-height: 50px;

        }

        .btn_login {
            width: 120px;
            height: 40px;
            margin-left: 35px;

        }
        .content_menu_wrap {

            position: relative;
            left:65px;
            top:70px;

        }

        .content_menu {
            cursor: pointer;
            display: inline-block;

        }

        .content_menu2 {
            cursor: pointer;
            display: inline-block;
        }

        .content_menu3 {
            cursor: pointer;
            display: inline-block;
        }

        #idPwdWrap{
            width: 540px;
            height: 350px;
            position: fixed;
            left:50%;
            top:50%;
            margin: -175px 0 0 -270px;
            display: none;
        }

        .tabs{
            margin: 0;
            padding: 0;
        }

        .find{
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
        }

        .tab_content{
            display: none;
            background: #FFFFFF;
            padding: 15px;
        }

        .tab_content.current{
            width: 510px;
            height:275px;
            display: inherit;
            background: #FFFFFF;
            border: 5px solid #0e47a1;
        }

        .tab_content.current2{
            width: 510px;
            height:275px;
            display: inherit;
            background: #FFFFFF;
            border: 5px solid #0e47a1;
        }

        .content_form {
            text-align: center;
            line-height: 90px;
        }

        .inp_nickname {
            width: 505px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .inp_mail {
            width: 159px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .inp_mail2 {
            width: 160px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .select_mail {
            width: 150px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .btn_mail {
            width: 160px;
            height: 40px;
            margin-left: 150px;
        }

        .content_form2 {
            text-align: center;
            line-height: 70px;
        }

        .inp_id2 {
            width: 505px;
            height: 40px;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .inp_nickname2 {
            width: 505px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .inp_mail3 {
            width: 159px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .inp_mail4 {
            width: 160px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .select_mail2 {
            width: 150px;
            height: 40px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
        }

        .find {
            width: 120px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }

        .tab_content {
            display: none;
        }

        .btn_big{
            width: 120px;
            height: 40px;
            background-color:#0e47a1;
            color:#fff;
            border:none;
            position:relative;
            font-size: 17px;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .btn_big:hover{
            background:transparent;
            color:#0e47a1;
        }

        .btn_big:before,.btn_big:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #0e47a1;
            transition:400ms ease all;
        }

        .btn_big:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }

        .btn_big:hover:before,.btn_big:hover:after{
            width:100%;
            transition:800ms ease all;
        }

        .btn_small1{
            width: 200px;
            height: 40px;
            background-color:#0e47a1;
            color:#fff;
            border:none;
            position:relative;
            font-size: 17px;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .btn_small1:hover{
            background:transparent;
            color:#0e47a1;
        }

        .btn_small1:before,.btn_small1:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #0e47a1;
            transition:400ms ease all;
        }

        .btn_small1:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }

        .btn_small1:hover:before,.btn_small1:hover:after{
            width:100%;
            transition:800ms ease all;
        }

        .btn_small{
            width: 100px;
            height: 40px;
            background-color:#0e47a1;
            color:#fff;
            border:none;
            position:relative;
            font-size: 17px;
            cursor:pointer;
            transition:800ms ease all;
            outline:none;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .btn_small:hover{
            background:transparent;
            color:#0e47a1;
        }

        .btn_small:before,.btn_small:after{
            content:'';
            position:absolute;
            top:0;
            right:0;
            height:2px;
            width:0;
            background: #0e47a1;
            transition:400ms ease all;
        }

        .btn_small:after{
            right:inherit;
            top:inherit;
            left:0;
            bottom:0;
        }

        .btn_small:hover:before,.btn_small:hover:after{
            width:100%;
            transition:800ms ease all;
        }
        