body {
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 1000px;
    height: 600px;
    margin: auto;
    background: #FFFFFF;
    position: relative;
    border: 1px solid #0e47a1;
}

.tab_project {
    width: 120px;
    height: 40px;
    background: #b2b2b2;
    outline: none;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.tab_launching {
    width: 120px;
    height: 40px;
    background: #fdd734;
    outline: none;
    color: #0e47a1;
    font-weight: bold;
    position: relative;
    left:-5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.border_tap {
    border-top: 3px solid #fdd734;
}

.tab_update {
    width: 120px;
    height: 40px;
    background: #b2b2b2;
    outline: none;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.tab_inquiry {
    width: 120px;
    height: 40px;
    background: #0e47a1;
    outline: none;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    left:-5px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.content_title {
    width: 620px;
    height: 22px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left:30px;
    top:2px;
}

.content_details {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top:47px;
    left:720px;
}

.border_content {
    width: 900px;
    position: relative;
    top:65px;
    left:50px;
    border-bottom: 1px solid #0e47a1;

}

.box_content {
    width: 910px;
    height: 350px;
    position: absolute;
    left:42px;
    top:130px;
    border: 2px solid #0e47a1;

}

#paging {
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left:420px;
    bottom: 50px;
}